{% extends "masterPage.html" %}

{% block title %}
Novo utilizador
{% endblock %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'assets/js/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/plugins/datatables-buttons-bs5/css/buttons.bootstrap5.min.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.3/sweetalert2.css" integrity="sha512-n1PBkhxQLVIma0hnm731gu/40gByOeBjlm5Z/PgwNxhJnyW1wYG8v7gPJDT6jpk0cMHfL8vUGUVjz3t4gXyZYQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block content %}
<div class="content">
    <form id="utilizadorForm" class="js-validation" method="POST" action="{% url 'save_utilizador' %}">
        {% csrf_token %}
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <h3 class="block-title">Novo utilizador</h3>
                <div class="block-options">
                    <input type="hidden" id="id_fornecedor" name="id_fornecedor" value="">
                    <button type="button" class="btn btn-sm btn-success" onclick="createUtilizador()">
                        <i class="fa fa-fw fa-check"></i> Guardar
                    </button>
                </div>
            </div>
            <div class="block-content block-content-full">


                <div class="row push">
                    <div class="col-lg-4">
                      <p class="text-muted">
                        Insira os dados do Utilizador
                      </p>
                    </div>
                    <div class="col-lg-8 col-xl-5">
                      <div class="mb-4">
                        <label class="form-label" for="nome-input">Nome</label>
                        <input type="text" class="form-control" id="nome-input" name="nome-input" placeholder="(Nome)">
                      </div>
                      <div class="mb-4">
                        <label class="form-label" for="email-input">Email</label>
                        <input type="email" class="form-control" id="email-input" name="email-input" placeholder="(Email)">
                      </div>
                      <div class="mb-4">
                        <label class="form-label" for="password-input">Password</label>
                        <input type="password" class="form-control" id="password-input" name="password-input" placeholder="(Password)">
                      </div>

                    </div>
                </div>

                <div class="row push">

                    <div class="col-lg-6">

                        <div class="mb-4">
                        <label class="form-label" for="morada-input">Morada</label>
                        <input type="text" class="form-control" id="morada-input" name="morada-input" placeholder="(Morada)">
                      </div> 
                      
                      <div class="mb-4">
                        <label class="form-label" for="localidade-input">Localidade</label>
                        <input type="text" class="form-control" id="localidade-input" name="localidade-input" placeholder="(Localidade)">
                      </div> 

                      <div class="mb-4">
                        <label class="form-label" for="perfil-input">Perfil</label>
                        <select class="js-select2 form-select" id="perfil-input" name="perfil-input"
                            style="width: 100%;">
                            <option value=""></option>
                            <option value="1">Visitante</option>
                            <option value="2">Administrador</option>
                            <option value="3">RH</option>
                            <option value="4">sales</option>
                            <option value="5">Produção</option>
                        </select>                        
                        
                      </div> 

                      <div class="mb-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="cliente-input" name="cliente-input" checked="">
                            <label class="form-check-label" for="cliente-input">É Cliente ?</label>
                          </div>
                      </div>                      

                    </div>

                    <div class="col-lg-6 col-xl-5">
                      <div class="mb-4">
                        <label class="form-label" for="contato-input">Contato</label>
                        <input type="text" class="form-control" id="contato-input" name="contato-input" placeholder="(Contato)">
                      </div>
                      <div class="mb-4">
                        <label class="form-label" for="cpostal-input">CodPostal</label>
                        <input type="email" class="form-control" id="cpostal-input" name="cpostal-input" placeholder="(CodPostal)">
                      </div>

                    </div>
                </div>                

            </div>
        </div>

    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.3/sweetalert2.min.js" integrity="sha512-m+CXm5ZXGsw8CNy+DHQf8n3qpbIh/0d55dCh4xlLl7lLXsU1w0b4RL4gaxqlsOkJKqYMyHaAfUyHf2gRqf7AWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    function toggleDescricao() {
        var descricaoInput = document.getElementById("descricao");
        var checkbox = document.getElementById("checkboxDescricao");

        descricaoInput.disabled = !checkbox.checked;
    }
</script>

<script>
    $(document).ready(function () {
        $("#alterarDescricaoBtn").click(function () {
            var tpcomponenteValue = $("#tpcomponente").val();
            var marcaValue = $("#marca").val();
            var atributo1Value = $("#atributo1").val();
            var atributo2Value = $("#atributo2").val();
            var descricaoInput = $("#descricao");

            if (tpcomponenteValue && marcaValue && atributo1Value && atributo2Value) {
                var descricaoValue = tpcomponenteValue + " " + marcaValue + " " + atributo1Value + " " + atributo2Value;

                descricaoInput.val(descricaoValue);
            } else {
                Swal.fire({
                    icon: 'warning',
                    title: 'Atenção',
                    text: 'Por favor, selecione todos os valores necessários antes de alterar a descrição.',
                });
            }
        });
    });
</script>

<script>

    function showAlert(message) {
        // Usar SweetAlert alertas
        Swal.fire({
            icon: 'error',
            title: 'Atenção...',
            text: message,
        });
    } 

    var utilizadorResponse;

    function createUtilizador() {
        // Obter valores dos campos
        var nome_input = $("#nome-input").val();
        var email_input = $("#email-input").val();
        var password_input = $("#password-input").val();
        var morada_input = $("#morada-input").val();
        var localidade_input = $("#localidade-input").val();
        var perfil_input = $("#perfil-input").val();
        //var cliente_input = $("#cliente-input").val();
        var cliente_input = $("#cliente-input").is(":checked") ? 1 : 0; // Verificar se o checkbox está marcado
        var contato_input = $("#contato-input").val();
        var cpostal_input = $("#cpostal-input").val();

        // Verificar se os campos obrigatórios estão preenchidos
        if (!nome_input || !email_input || !password_input || !morada_input || !localidade_input || !perfil_input || !cliente_input || !contato_input || !cpostal_input) {
            // Mostrar alerta SweetAlert se campos não preenchidos
            //showAlert("Por favor, preencha todos os campos.");
            if (!nome_input) showAlert("Por favor, preencha o campo Nome.");
            if (!email_input) showAlert("Por favor, preencha o campo Email.");
            if (!password_input) showAlert("Por favor, preencha o campo Password.");
            if (!morada_input) showAlert("Por favor, preencha o campo Morada.");
            if (!localidade_input) showAlert("Por favor, preencha o campo Localidade.");
            if (!perfil_input) showAlert("Por favor, selecione um perfil.");
            if (!cliente_input) showAlert("Por favor, selecione se é cliente ou não.");
            if (!contato_input) showAlert("Por favor, preencha o campo Contato.");
            if (!cpostal_input) showAlert("Por favor, preencha o campo Código Postal.");


            // Abortar o envio se algum campo não estiver preenchido
            return;
        }

        // Restante do código para o envio AJAX
        var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

        var data = {
            "nome_input": nome_input,
            "email_input": email_input,
            "password_input": password_input,
            "morada_input": morada_input,
            "localidade_input": localidade_input,
            "perfil_input": perfil_input,
            "cliente_input": cliente_input,
            "contato_input": contato_input,  
            "cpostal_input": cpostal_input,                        
            'csrfmiddlewaretoken': csrfToken
        };

        $.ajax({
            url: '{% url "save_utilizador" %}',
            type: "POST",
            data: data,
            success: function (response) {
                window.location.href = "/utilizador/list";
            },
            error: function (error) {
                console.error("Erro na solicitação AJAX:", error);
                showAlert("ERRO a Gravar os Dados !")
            }
        });
    }

</script>

<script src="{% static 'assets/js/lib/jquery.min.js'%}"></script>

<!-- Page JS Plugins -->
<script src="{% static 'assets/js/plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons-bs5/js/buttons.bootstrap5.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons-jszip/jszip.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons-pdfmake/pdfmake.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons-pdfmake/vfs_fonts.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons/buttons.print.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons/buttons.html5.min.js'%}"></script>

<script src="{% static 'assets/js/pages/be_tables_datatables.min.js'%}"></script>


{% endblock %}