{% extends "masterPage.html" %}

{% block title %}
Dashboard
{% endblock %}


{% block content %}

<div class="content">
    <!-- Overview -->
    <div class="row items-push">
      <div class="col-sm-6 col-xl-3">
        <div class="block block-rounded text-center d-flex flex-column h-100 mb-0">
          <div class="block-content block-content-full flex-grow-1">
            <div class="item rounded-3 bg-body mx-auto my-3">
              <i class="fa fa-users fa-lg text-primary"></i>
            </div>
            <div class="fs-1 fw-bold">{{ total_users }}</div>
            <div class="text-muted mb-3">Utilizadores</div>
          </div>
          <div class="block-content block-content-full block-content-sm bg-body-light fs-sm">
            <a class="fw-medium" href="/utilizador/list">
              Todos os utilizadores
              <i class="fa fa-arrow-right ms-1 opacity-25"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="block block-rounded text-center d-flex flex-column h-100 mb-0">
          <div class="block-content block-content-full flex-grow-1">
            <div class="item rounded-3 bg-body mx-auto my-3">
              <i class="fa fa-level-up-alt fa-lg text-primary"></i>
            </div>
            <div class="fs-1 fw-bold">{{ client_users_count }}</div>
            <div class="text-muted mb-3">Clientes</div>
          </div>
          <div class="block-content block-content-full block-content-sm bg-body-light fs-sm">
            <a class="fw-medium" href="javascript:void(0)">
              Ver todos os clientes
              <i class="fa fa-arrow-right ms-1 opacity-25"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="block block-rounded text-center d-flex flex-column h-100 mb-0">
          <div class="block-content block-content-full flex-grow-1">
            <div class="item rounded-3 bg-body mx-auto my-3">
              <i class="fa fa-chart-line fa-lg text-primary"></i>
            </div>
            <div class="fs-1 fw-bold">{{ total_sales }}</div>
            <div class="text-muted mb-3">Vendas</div>
          </div>
          <div class="block-content block-content-full block-content-sm bg-body-light fs-sm">
            <a class="fw-medium" href="/venda/list">
              Ver todas as vendas
              <i class="fa fa-arrow-right ms-1 opacity-25"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="block block-rounded text-center d-flex flex-column h-100 mb-0">
          <div class="block-content block-content-full">
            <div class="item rounded-3 bg-body mx-auto my-3">
              <i class="fa fa-wallet fa-lg text-primary"></i>
            </div>
            <div class="fs-1 fw-bold">{{ total_orders }}</div>
            <div class="text-muted mb-3">Compras a fornecedores</div>
          </div>
          <div class="block-content block-content-full block-content-sm bg-body-light fs-sm">
            <a class="fw-medium" href="/compra/list">
              Ver todas as compras
              <i class="fa fa-arrow-right ms-1 opacity-25"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- END Overview -->

    <!-- Latest Orders + Stats -->
    <div class="row">
      <div class="col-md-8">
        <!--  Latest Orders -->
        <div class="block block-rounded block-mode-loading-refresh">
          <div class="block-header block-header-default">
            <h3 class="block-title">
              Ultimas Vendas
            </h3>
            <div class="block-options">
              <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                <i class="si si-refresh"></i>
              </button>
            </div>
          </div>
          <div class="block-content">
            <table class="table table-striped table-hover table-borderless table-vcenter fs-sm">
              <thead>
                  <tr class="text-uppercase">
                      <th>Nº Produto</th>
                      <th class="d-none d-xl-table-cell">Data</th>
                      <th>Cliente</th>
                      <th>Estado</th>
                      <th class="d-none d-sm-table-cell text-end" style="width: 120px;">Preço</th>
                      <!-- <th></th> -->
                  </tr>
              </thead>
              <tbody>
                  {% for row in result_table_venda %}
                  <tr>
                      <td>
                          <span class="fw-semibold">{{ row.0 }}</span>
                      </td>
                      <td class="d-none d-xl-table-cell">
                          <span class="fs-sm text-muted">{{ row.1 }}</span>
                      </td>
                      <td>
                        <span class="fw-semibold">{{ row.2 }}</span>
                      </td>
                      <td>
                          <span class="fw-semibold">{{ row.3 }}</span>
                      </td>
                      <td class="d-none d-sm-table-cell text-end fw-medium">
                          {{ row.4 }}
                      </td>
                      <!-- <td class="text-center text-nowrap fw-medium">
                          <a href="javascript:void(0)">
                              View
                          </a>
                      </td> -->
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          
          </div>
          <div class="block-content block-content-full block-content-sm bg-body-light fs-sm text-center">
            <a class="fw-medium" href="/venda/list">
              Ver todas as vendas
              <i class="fa fa-arrow-right ms-1 opacity-25"></i>
            </a>
          </div>
        </div>
        <!-- END Latest Orders -->
      </div>
      <div class="col-md-4 d-flex flex-column">
        <!-- Stats -->
        <div class="block block-rounded">
          <div class="block-content block-content-full d-flex justify-content-between align-items-center flex-grow-1">
            <div class="me-3">
              <p class="fs-3 fw-bold mb-0">
                {{total_value_orders}}€
              </p>
              <p class="text-muted mb-0">
                Total de Vendas
              </p>
            </div>
            <div class="item rounded-circle bg-body">
              <i class="fa fa-euro-sign fa-lg text-primary"></i>
            </div>
          </div>
          
        </div>
        <div class="block block-rounded text-center d-flex flex-column flex-grow-1">
          <div class="block-content block-content-full d-flex align-items-center flex-grow-1">
            <div class="w-100">
              <div class="item rounded-3 bg-body mx-auto my-3">
                <i class="fa fa-exclamation text-warning icone-grande"></i>
              </div>
              <div class="fs-1 fw-bold">{{low_stock_components}}</div>
              <div class="text-muted mb-3">Componentes com stock inferior a 10 unidades</div>
            </div>
          </div>
          <div class="block-content block-content-full block-content-sm bg-body-light fs-sm">
            <a class="fw-medium" href="/componente/list">
              Componentes
              <i class="fa fa-arrow-right ms-1 opacity-25"></i>
            </a>
          </div>
        </div>
        <!-- END Stats -->
      </div>
    </div>
    <!-- END Latest Orders + Stats -->
  </div>
  <!-- END Page Content -->
{% endblock %}