{% extends "masterPage.html" %}

{% block title %}
Listar
{% endblock %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'assets/js/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/plugins/datatables-buttons-bs5/css/buttons.bootstrap5.min.css'%}">

{% endblock %}

{% block content %}
<div class="content">
  <div class="block block-rounded">
    {% if table_name == "compra" %}
    <a href="/order/create/" class="btn btn-success mb-3 m-3 float-end"><i class="fa fa-fw fa-plus"></i>Nova
      encomenda</a>
    {% endif %}
    {% if table_name == "equipamento" %}
    <a href="/equipamento/create/" class="btn btn-success mb-3 m-3 float-end"><i class="fa fa-fw fa-plus"></i>Novo
      equipamento</a>
    {% endif %}
    <div class="block-header block-header-default">
      <h3 class="block-title">{{ table_name }}</small></h3>
      <div class="block-options">
        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle"
          data-action-mode="demo">
          <i class="si si-refresh"></i>
        </button>
        {% if table_name == "equipamento" or table_name == "fornecedor" or table_name == "venda" or table_name == "equipamento"%}
        <div class="dropdown">
          <button type="button" class="btn-block-option" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="si si-chemistry"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end">
            {% if table_name == "equipamento" or table_name == "fornecedor" or table_name == "venda"%}
            <a class="dropdown-item filter-option-state" href="javascript:void(0)" data-state="ativo">
              <i class="far fa-fw fa-dot-circle opacity-50 me-1"></i> Ativo
            </a>
            <a class="dropdown-item filter-option-state" href="javascript:void(0)" data-state="inativo">
              <i class="far fa-fw fa-times-circle opacity-50 me-1"></i> Inativo
            </a>
            <a class="dropdown-item filter-option-state" href="javascript:void(0)" data-state="todos">
              <i class="fa fa-fw fa-eye opacity-50 me-1"></i> Todos
            </a>
            {% endif %}
            {% if table_name == "equipamento" %}
            <a class="dropdown-item filter-option-tipo" href="javascript:void(0)" data-tipo="portatil">
              <i class="far fa-fw fa-laptop opacity-50 me-1"></i> Portátil
            </a>
            <a class="dropdown-item filter-option-tipo" href="javascript:void(0)" data-tipo="desktop">
              <i class="far fa-fw fa-desktop opacity-50 me-1"></i> Desktop
            </a>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="block-content block-content-full">
      <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
        <thead>
          <tr>
            {% for column in columns %}
            <th class="d-none d-sm-table-cell">{{ column }}</th>
            {% endfor %}
            <th class="d-none d-sm-table-cell">ações</th>
          </tr>
        </thead>
        <tbody>
          {% for row in table_data %}
          <tr>
            {% if imagem_column_present and row.0 != 0 %}
            <td><img src="{{ row.0 }}" alt="Image" style="max-width: 40px; max-height: 40px;"></td>
            {% endif %}
            {% for i in row %}
            {% if forloop.first and imagem_column_present %}
            {% comment %} Skip the first iteration because image exits {% endcomment %}
            {% else %}
            <td>{{ i }}</td>
            {% endif %}
            {% endfor %}
            <td class="text-center d-flex align-items-center justify-content-center">
              {% if imagem_column_present %}
              <form method="post" action="{% url 'edit_record' table_name=table_name record_id=row.1 %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-alt-secondary" data-bs-toggle="tooltip" title="Edit">
                  <i class="fa fa-pencil-alt"></i>
                </button>
              </form>
              {% elif table_name == "compra"%}
              <form method="post" action="{% url 'edit_record' table_name=table_name record_id=row.0 %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-alt-secondary" data-bs-toggle="tooltip"
                  title="Detalhes encomenda">
                  <i class="text-primary fa fa-eye"></i>
                </button>
              </form>
              <button type="submit" class="btn btn-sm btn-alt-secondary" data-bs-toggle="tooltip"
                title="Receber encomenda" onclick="receberEncomenda('{{ row.0 }}')">
                <i class="text-success fa fa-cart-arrow-down"></i>
              </button>
              {% else%}
              <button type="button" class="btn btn-sm btn-alt-secondary"
                onclick="abrirModalDetalhes('{{ row.0 }}', '{{ row.1 }}', '{{ row.2 }}', '{{ row.3 }}', '{{ row.4 }}', '{{ row.5 }}', '{{ row.6 }}')">
                <i class="fa fa-eye"></i>
              </button>
              <form method="post" action="{% url 'edit_record' table_name=table_name record_id=row.0 %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-alt-secondary" data-bs-toggle="tooltip" title="Editar">
                  <i class="fa fa-pencil-alt"></i>
                </button>
              </form>

              {% endif %}
              <button type="button" class="btn btn-sm btn-alt-secondary ms-1" data-bs-toggle="tooltip" title="Eliminar"
                onclick="confirmDelete('{{ table_name }}', '{{ row.0 }}')">
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Modal para detalhes -->
<div class="modal fade" id="detalhesModal" tabindex="-1" aria-labelledby="detalhesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detalhesModalLabel">Detalhes do Fornecedor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <p><strong>Nome:</strong> ${response.nome}</p>
            <p><strong>Endereço:</strong> ${response.endereco}</p>
            <p><strong>Código Postal:</strong> ${response.codigopostal}</p>
          </div>
          <div class="col-md-6">
            <p><strong>Localidade:</strong> ${response.localidade}</p>
            <p><strong>Contacto:</strong> ${response.contacto}</p>
            <p><strong>Email:</strong> ${response.email}</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <p><strong>Estado:</strong> ${response.estado}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}
<script>
  function confirmDelete(tableName, recordId) {
    if (confirm('Tem certeza de que deseja excluir este registro?')) {
      window.location.href = `/delete_record/${tableName}/${recordId}/`;
    }
  }

  function receberEncomenda(recordId) {
    if (confirm('Tem certeza de que deseja receber a encomenda?')) {
      window.location.href = `/receive_order/${recordId}/`;
    }
  }

  function abrirModalDetalhes(id) {
    $.ajax({
      url: `/detalhes_fornecedor/${id}/`,  // Substitua pelo URL correto da sua view
      method: 'GET',
      success: function (response) {
        console.log(response);
        const corEstado = response.estado === 'Ativo' ? 'green' : 'red';

        Swal.fire({
          title: `Detalhes do Fornecedor`,
          html: `
          <table class="table">
                        <tbody>
                            <tr>
                                <th class="text-end">Nome:</th>
                                <td class="text-start">${response.nome}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Email:</th>
                                <td class="text-start">${response.email}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Contacto:</th>
                                <td class="text-start">${response.contacto}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Endereço:</th>
                                <td class="text-start">${response.endereco}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Código Postal:</th>
                                <td class="text-start">${response.codigopostal}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Localidade:</th>
                                <td class="text-start">${response.localidade}</td>
                            </tr>                  
                            <tr>
                                <th class="text-end">Estado:</th>
                                <td class="text-start"> <div style="color: ${corEstado};">${response.estado}</div></td>
                            </tr>
                        </tbody>
                    </table>
                `,
          showCloseButton: true,
          showCancelButton: false,
          focusConfirm: false,
          width: '40%',

        });
      },
      error: function (error) {
        console.error('Erro ao obter detalhes do fornecedor:', error);
      }
    });
  }

  // Adicione um listener de evento ao botão de detalhes

</script>

<!-- jQuery (required for DataTables plugin) -->
<script src="{% static 'assets/js/lib/jquery.min.js'%}"></script>

<!-- Page JS Plugins -->
<script src="{% static 'assets/js/plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons-bs5/js/buttons.bootstrap5.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons-jszip/jszip.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons-pdfmake/pdfmake.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons-pdfmake/vfs_fonts.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons/buttons.print.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons/buttons.html5.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/sweetalert2/sweetalert2.js'%}"></script>
<script src="{% static 'assets/js/plugins/sweetalert2/sweetalert2.css'%}"></script>
<script src="{% static 'assets/js/plugins/sweetalert2/sweetalert2.all.js'%}"></script>

<script src="{% static 'assets/js/pages/be_tables_datatables.min.js'%}"></script>

<script>
  // Função para aplicar o filtro com base no campo especificado (estado ou tipo)
  function applyFilter(fieldName, fieldValue) {
    // Encontre a posição da coluna específica
    var columnIndex = -1;
    document.querySelectorAll('.js-dataTable-full thead th').forEach(function (th, index) {
      if (th.textContent.trim().toLowerCase() === fieldName) {
        columnIndex = index;
      }
    });

    if (columnIndex === -1) {
      console.error('Coluna "' + fieldName + '" não encontrada na tabela.');
      return;
    }

    // Array para armazenar os índices das linhas que correspondem ao valor filtrado
    var filteredRows = [];

    // Itera sobre todas as linhas da tabela para aplicar o filtro
    document.querySelectorAll('.js-dataTable-full tbody tr').forEach(function (row, rowIndex) {
      // Obtém o valor da célula na posição da coluna específica
      var cellValue = row.querySelectorAll('td')[columnIndex].textContent.trim().toLowerCase();
      var showRow = fieldValue === 'todos' || cellValue === fieldValue;

      // Armazena o índice da linha se corresponder ao filtro
      if (showRow) {
        filteredRows.push(rowIndex);
      }

      // Mostra ou oculta a linha com base no valor filtrado
      row.style.display = showRow ? '' : 'none';
    });

    // Atualiza a DataTable para garantir consistência
    var dataTable = $('.js-dataTable-full').DataTable();
    dataTable.rows().deselect();
    dataTable.rows(filteredRows).select();
  }

  // Adicione um listener de evento para os links no dropdown (estado)
  document.querySelectorAll('.filter-option-state').forEach(function (link) {
    link.addEventListener('click', function () {
      var state = link.getAttribute('data-state');
      applyFilter('estado', state);
    });
  });

  // Adicione um listener de evento para os links no dropdown (tipo)
  document.querySelectorAll('.filter-option-tipo').forEach(function (link) {
    link.addEventListener('click', function () {
      var tipo = link.getAttribute('data-tipo');
      applyFilter('tipo', tipo);
    });
  });
</script>

{% endblock %}