{% extends "masterPage.html" %}

{% block title %}
Listar
{% endblock %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'assets/js/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/plugins/datatables-buttons-bs5/css/buttons.bootstrap5.min.css'%}">

{% endblock %}

{% block content %}
<div class="content">
  <div class="block block-rounded">
    {% if table_name == "compra" %}
    <a href="/order/create/" class="btn btn-success mb-3 m-3 float-end"><i class="fa fa-fw fa-plus"></i>Nova
      encomenda</a>
    {% endif %}
    {% if table_name == "equipamento" %}
    <a href="/equipamento/create/" class="btn btn-success mb-3 m-3 float-end"><i class="fa fa-fw fa-plus"></i>Novo
      equipamento</a>
    {% endif %}
    <div class="block-header block-header-default">
      <h3 class="block-title">{{ table_name }}</small></h3>
      <div class="block-options">
        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle"
          data-action-mode="demo">
          <i class="si si-refresh"></i>
        </button>
        {% if table_name == "equipamento" or table_name == "fornecedor" or table_name == "venda"%}
        <div class="dropdown">
          <button type="button" class="btn-block-option" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="si si-chemistry"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end">
            {% if table_name == "fornecedor" or table_name == "venda"%}
            <a class="dropdown-item filter-option-state" href="javascript:void(0)" data-state="ativo">
              <i class="far fa-fw fa-dot-circle opacity-50 me-1"></i> Ativo
            </a>
            <a class="dropdown-item filter-option-state" href="javascript:void(0)" data-state="inativo">
              <i class="far fa-fw fa-times-circle opacity-50 me-1"></i> Inativo
            </a>
            <a class="dropdown-item filter-option-state" href="javascript:void(0)" data-state="todos">
              <i class="fa fa-fw fa-eye opacity-50 me-1"></i> Todos
            </a>
            {% endif %}
            {% if table_name == "equipamento" %}
            <a class="dropdown-item filter-option-tipo" href="javascript:void(0)" data-tipo="portatil">
              <i class="far fa-fw fa-laptop opacity-50 me-1"></i> Portátil
            </a>
            <a class="dropdown-item filter-option-tipo" href="javascript:void(0)" data-tipo="desktop">
              <i class="far fa-fw fa-desktop opacity-50 me-1"></i> Desktop
            </a>
            <a class="dropdown-item filter-option-tipo" href="javascript:void(0)" data-tipo="todos">
              <i class="fa fa-fw fa-eye opacity-50 me-1"></i> Todos
            </a>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="block-content block-content-full">
      <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
        <thead>
          <tr>
            {% for column in columns %}
            <th class="d-none d-sm-table-cell">{{ column }}</th>
            {% endfor %}
            <th class="d-none d-sm-table-cell">ações</th>
          </tr>
        </thead>
        <tbody>
          {% for row in table_data %}
          <tr>
            {% if imagem_column_present and row.0 != 0 %}
            <td><img src="{{ row.0 }}" alt="Image" style="max-width: 40px; max-height: 40px;"></td>
            {% endif %}
            {% for i in row %}
            {% if forloop.first and imagem_column_present %}
            {% comment %} Skip the first iteration because image exits {% endcomment %}
            {% else %}
            <td>{{ i }}</td>
            {% endif %}
            {% endfor %}
            <td class="text-center d-flex align-items-center justify-content-center">
              {% if imagem_column_present %}
              <form method="post" action="{% url 'edit_record' table_name=table_name record_id=row.1 %}">
                {% csrf_token %}
                {% if table_name != "perfil" and table_name != "funcionalidade" and table_name != "perfil_funcionalidade"%}
                <button type="submit" class="btn btn-sm btn-alt-secondary" data-bs-toggle="tooltip" title="Edit">
                  <i class="fa fa-pencil-alt"></i>
                </button>
                {% endif %}
              </form>
              {% if table_name == "equipamento"%}
              <button type="button" class="btn btn-sm btn-alt-secondary"
                onclick="abrirModalDetalhesEquipamento('{{ row.1 }}', 'detalhes_equipamento')" data-bs-toggle="tooltip"
                title="Detalhes">
                <i class="fa fa-eye"></i>
              </button>
              {% endif %}
              {% if table_name == "componente" %}
              <button type="button" class="btn btn-sm btn-alt-secondary"
                onclick="abrirModalDetalhesComponente('{{ row.1 }}', 'detalhes_componente')" data-bs-toggle="tooltip"
                title="Detalhes">
                <i class="fa fa-eye"></i>
              </button>
              {% endif %}
              {% elif table_name == "compra"%}
              <a id="downloadLink" class="btn btn-sm btn-alt-secondary" data-bs-toggle="tooltip"
                title="Exportar Encomenda" download="export_encomendas.json"
                onclick="exportEncomendaEspecifica('{{ row.0 }}')">
                <i class="text-warning fa fa-download"></i>
              </a>
              <form method="post" action="{% url 'edit_record' table_name=table_name record_id=row.0 %}">
                {% csrf_token %}
                <button type="button" class="btn btn-sm btn-alt-secondary text-primary"
                  onclick="abrirModalDetalhesCompra('{{ row.0 }}', 'detalhes_compra')" data-bs-toggle="tooltip"
                  title="Detalhes">
                  <i class="fa fa-eye"></i>
                </button>
              </form>
              <button type="submit" class="btn btn-sm btn-alt-secondary" data-bs-toggle="tooltip"
                title="Receber encomenda" onclick="receberEncomenda('{{ row.0 }}')">
                <i class="text-success fa fa-cart-arrow-down"></i>
              </button>
              {% else%}
              <form method="post" action="{% url 'edit_record' table_name=table_name record_id=row.0 %}">
                {% csrf_token %}
                {% if table_name == "fornecedor"%}
                <button type="button" class="btn btn-sm btn-alt-secondary"
                  onclick="abrirModalDetalhesFornecedor('{{ row.0 }}', 'detalhes_fornecedor')" data-bs-toggle="tooltip"
                  title="Detalhes">
                  <i class="fa fa-eye"></i>
                </button>
                {% endif %}
                {% if table_name == "venda"%}
                <button type="button" class="btn btn-sm btn-alt-secondary"
                  onclick="abrirModalDetalhesVenda('{{ row.0 }}', 'detalhes_venda')" data-bs-toggle="tooltip"
                  title="Detalhes">
                  <i class="fa fa-eye"></i>
                </button>
                {% endif %}
                {% if table_name == "producao"%}
                <button type="button" class="btn btn-sm btn-alt-secondary"
                  onclick="abrirModalDetalhesProducao('{{ row.0 }}', 'detalhes_producao')" data-bs-toggle="tooltip"
                  title="Detalhes">
                  <i class="fa fa-eye"></i>
                </button>
                {% endif %}
                {% if table_name == "utilizador"%}
                <button type="button" class="btn btn-sm btn-alt-secondary"
                  onclick="abrirModalDetalhesUtilizador('{{ row.0 }}', 'detalhes_utilizador')" data-bs-toggle="tooltip"
                  title="Detalhes">
                  <i class="fa fa-eye"></i>
                </button>
                {% endif %}
                {% if table_name != "venda" and table_name != "equipamento" and table_name != "producao" and table_name != "perfil" and table_name != "funcionalidade" and table_name != "perfil_funcionalidade" and table_name != "Encomendas recebidas" %}
                <button type="submit" class="btn btn-sm btn-alt-secondary" data-bs-toggle="tooltip" title="Editar">
                  <i class="fa fa-pencil-alt"></i>
                </button>
                {% endif %}
              </form>
              {% endif %}
              <button type="button" class="btn btn-sm btn-alt-secondary ms-1" data-bs-toggle="tooltip" title="Eliminar"
                onclick="confirmDelete('{{ table_name }}', '{{ row.0 }}')">
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  function confirmDelete(tableName, recordId) {
    if (confirm('Tem certeza de que deseja excluir este registo?')) {
      window.location.href = `/delete_record/${tableName}/${recordId}/`;
    }
  }

  function receberEncomenda(recordId) {
    Swal.fire({
      title: 'Quer receber esta encomenda?',
      showDenyButton: true,
      confirmButtonText: 'Sim',
      denyButtonText: 'Não',
      customClass: {
        actions: 'my-actions',
        confirmButton: 'order-2',
        denyButton: 'order-3',
      },
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: `/receive_order/${recordId}/`,
          method: 'GET',
          success: function (response) {
            if (response.result === 2) {
              Swal.fire({
                icon: 'error',
                title: 'Erro',
                text: 'Essa encomenda já foi recebida',
              });
            }
            else if (response.result === 1) {
              Swal.fire({
                icon: 'success',
                title: 'Sucesso',
                text: 'Essa encomenda já foi recebida',
              });
              window.location.href = `/receive_order/${recordId}/`;
            }
            else {
              Swal.fire({
                icon: 'error',
                title: 'Erro',
                text: 'Não foi possivel receber a encomenda',
              });
            }
          },
          error: function (error) {
            Swal.fire({
              icon: 'error',
              title: 'Erro',
              text: 'Não foi possivel receber a encomenda',
            });
          }
        });
      } else if (result.isDenied) {
        Swal.fire({
          icon: 'error',
          title: 'Erro',
          text: 'Não foi possivel receber a encomenda',
        });
      }
    })
  }

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Procura por ocorrências de 'name=' no início do cookie
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  function abrirModalDetalhes(tipo, id, tableName, response) {
    const corEstado = response.estado === 'Ativo' ? 'green' : 'red';

    const precoNumerico = response.preco ? parseFloat(response.preco.replace(/[^\d.]/g, '')) : 0;
    const precoMNumerico = response.pcusto_medio ? parseFloat(response.pcusto_medio.replace(/[^\d.]/g, '')) : 0;

    if (!isNaN(precoNumerico) || !isNaN(precoMNumerico)) {
      const precoFormatado = new Intl.NumberFormat('pt-PT', {
        style: 'currency',
        currency: 'EUR'
      }).format(precoNumerico);

      const precoMFormatado = new Intl.NumberFormat('pt-PT', {
        style: 'currency',
        currency: 'EUR'
      }).format(precoMNumerico);

      Swal.fire({
        title: `Detalhes ${tipo === 'fornecedor' ? 'do Fornecedor' : tipo === 'componente' ? 'do Componente' : tipo === 'compra' ? 'da Compra' : tipo === 'equipamento' ? 'do Equipamento' : tipo === 'producao' ? 'da Produção' : tipo === 'utilizador' ? 'do Utilizador' : 'da Venda'}`,
        html: `
            <table class="table">
                <tbody>
                    ${tipo === 'fornecedor' ? `
                    <tr>
                                <th class="text-end">Nome:</th>
                                <td class="text-start">${response.nome}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Email:</th>
                                <td class="text-start">${response.email}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Contacto:</th>
                                <td class="text-start">${response.contacto}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Endereço:</th>
                                <td class="text-start">${response.endereco}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Código Postal:</th>
                                <td class="text-start">${response.codigopostal}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Localidade:</th>
                                <td class="text-start">${response.localidade}</td>
                            </tr>   
                            <tr>
                                <th class="text-end" style="color: ${corEstado}">Estado:</th>
                                <td class="text-start" style="color: ${corEstado}">${response.estado}</td>
                            </tr>
                    ` : ''}   
                    ${tipo === 'componente' ? `
                    <table class="table" style="width: 100%;">
                      <tbody>
                          <tr>
                            <td class="text-center" style="vertical-align: middle;">
                                <img src="${response.imagem}" alt="Imagem" style="max-width: 100%; max-height: 100px; vertical-align: middle;">
                            </td>

                            <td class="text-start" style="padding-top: 5px; padding-left: 20px; vertical-align: middle;">
                                <div style="margin-bottom: 10px;">
                                    <strong>Nome:</strong> ${response.descricao}
                                </div>
                                <div style="margin-bottom: 10px;">
                                    <strong>Preço:</strong> ${precoFormatado}
                                </div>
                                <div style="margin-bottom: 10px;">
                                    <strong>Custo médio:</strong> ${precoMFormatado}
                                </div>
                                <div style="margin-bottom: 10px;">
                                    <strong>Stock:</strong> 
                                    <span style="color: ${response.quantidade_stock > 20 ? 'green' : (response.quantidade_stock > 10 ? 'orange' : 'red')}">
                                        ${response.quantidade_stock}
                                    </span>
                                </div>
                            </td>
                          </tr>
                      </tbody>
                    </table>
                    <tr>
                        <td class="text-start" style="padding-top: 20px; align-items: center;">
                            <strong>Estado:</strong>
                            <span style="color: ${corEstado};">${response.estado}</span>
                        </td>
                    </tr>
                    ` : ''}   
                    ${tipo === 'venda' ? `
                    <tr>
                                <th class="text-end">Data:</th>
                                <td class="text-start">${response.venda_details.data}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Valor total:</th>
                                <td class="text-start">${response.venda_details.valortotal}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Comprador:</th>
                                <td class="text-start">${response.venda_details.utilizador}</td>
                            </tr>
                            <tr>
                              <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                                <div class="table-title m-2"><strong>Equipamentos</strong></div>
                                <thead>
                                  <tr>
                                    <th class="d-none d-sm-table-cell">Imagem</th>
                                    <th class="d-none d-sm-table-cell">Quantidade</th>
                                    <th class="d-none d-sm-table-cell">Preço Unitário</th>
                                    <th class="d-none d-sm-table-cell">Nome do Equipamento</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  ${response.equipamentos_details.map(equipamento => `
                                  <tr>
                                    <td><img src="${equipamento.imagem}" alt="Imagem" style="max-width: 100%; max-height: 100px; vertical-align: middle;"></td>
                                    <td>${equipamento.quantidade}</td>
                                    <td>${equipamento.preco_unitario}</td>
                                    <td>${equipamento.nome_equipamento}</td>
                                  </tr>
                                  `).join('')}
                                </tbody>
                              </table>
                            </tr>
                    ` : ''}
                    ${tipo === 'compra' ? `
                    <tr>
                                <th class="text-end">Data:</th>
                                <td class="text-start">${response.compra_details.data}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Valor total:</th>
                                <td class="text-start">${response.compra_details.valortotal}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Fornecedor:</th>
                                <td class="text-start">${response.compra_details.fornecedor}</td>
                            </tr>
                            <tr>
                              <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                                <div class="table-title m-2"><strong>Componentes</strong></div>
                                <thead>
                                  <tr>
                                    <th class="d-none d-sm-table-cell">Nome do Equipamento</th>
                                    <th class="d-none d-sm-table-cell">Quantidade</th>
                                    <th class="d-none d-sm-table-cell">Preço Unitário</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  ${response.componentes_details.map(componente => `
                                  <tr>
                                    <td>${componente.nome_componente}</td>
                                    <td>${componente.quantidade}</td>
                                    <td>${componente.preco_unitario}</td>
                                  </tr>
                                  `).join('')}
                                </tbody>
                              </table>
                            </tr>
                    ` : ''} 
                    ${tipo === 'equipamento' ? `
                            <tr>
                                <th class="text-end">Nome:</th>
                                <td class="text-start">${response.equipamento_details.nome}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Tipo:</th>
                                <td class="text-start">${response.equipamento_details.tipo_equipamento}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Preço:</th>
                                <td class="text-start">${response.equipamento_details.preco}</td>
                            </tr>
                            <tr>
                              <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                                <div class="table-title m-2"><strong>Componentes</strong></div>
                                <thead>
                                  <tr>
                                    <th class="d-none d-sm-table-cell">Imagem</th>
                                    <th class="d-none d-sm-table-cell">Nome do Equipamento</th>
                                    <th class="d-none d-sm-table-cell">Quantidade</th>
                                    <th class="d-none d-sm-table-cell">Preço Unitário</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  ${response.componentes_details.map(componente => `
                                  <tr>
                                    <td><img src="${componente.imagem}" alt="Imagem" style="max-width: 50%; max-height: 50px; vertical-align: middle;"></td>
                                    <td>${componente.nome_componente}</td>
                                    <td>${componente.quantidade}</td>
                                    <td>${componente.preco}</td>
                                  </tr>
                                  `).join('')}
                                </tbody>
                              </table>
                            </tr>
                    ` : ''}
                    ${tipo === 'producao' ? `
                            <tr>
                                <th class="text-end">Data:</th>
                                <td class="text-start">${response.producao_details.data}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Nome:</th>
                                <td class="text-start">${response.producao_details.nome}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Tipo:</th>
                                <td class="text-start">${response.producao_details.tipo_equipamento}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Preço:</th>
                                <td class="text-start">${response.producao_details.valortotal}</td>
                            </tr>
                            <tr>
                              <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                                <div class="table-title m-2"><strong>Componentes</strong></div>
                                <thead>
                                  <tr>
                                    <th class="d-none d-sm-table-cell">Imagem</th>
                                    <th class="d-none d-sm-table-cell">Nome do Equipamento</th>
                                    <th class="d-none d-sm-table-cell">Quantidade</th>
                                    <th class="d-none d-sm-table-cell">Preço Unitário</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  ${response.componentes_details.map(componente => `
                                  <tr>
                                    <td><img src="${componente.imagem}" alt="Imagem" style="max-width: 50%; max-height: 50px; vertical-align: middle;"></td>
                                    <td>${componente.nome_componente}</td>
                                    <td>${componente.quantidade}</td>
                                    <td>${componente.preco_unitario}</td>
                                  </tr>
                                  `).join('')}
                                </tbody>
                              </table>
                            </tr>
                    ` : ''}
                    ${tipo === 'utilizador' ? `
                            <tr>
                                <th class="text-end">Nome:</th>
                                <td class="text-start">${response.nome}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Email:</th>
                                <td class="text-start">${response.email}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Contacto:</th>
                                <td class="text-start">${response.contacto}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Perfil:</th>
                                <td class="text-start">${response.perfil}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Estado:</th>
                                <td class="text-start">${response.estado}</td>
                            </tr>
                            <tr>
                                <th class="text-end">Cliente?</th>
                                <td class="text-start">${response.e_cliente}</td>
                            </tr>
                    ` : ''}
                </tbody>
            </table>
        `,
        showCloseButton: true,
        showCancelButton: false,
        focusConfirm: false,
        width: '60%',
      });
    } else {
      console.error('O valor do preço não é um número válido.');
    }
  }


  function abrirModalDetalhesFornecedor(id, tableName) {
    $.ajax({
      url: `/${tableName}/${id}/`,
      method: 'POST', // ou 'GET' dependendo da sua configuração
      headers: { 'X-CSRFToken': getCookie('csrftoken') },
      dataType: 'json',
      success: function (response) {
        abrirModalDetalhes('fornecedor', id, tableName, response);
      },
      error: function (error) {
        console.error(`Erro ao obter detalhes do fornecedor (${tableName}):`, error);
      }
    });
  }

  // Exemplo de uso para componente
  function abrirModalDetalhesComponente(id, tableName) {
    $.ajax({
      url: `/${tableName}/${id}/`,
      method: 'POST', // ou 'GET' dependendo da sua configuração
      headers: { 'X-CSRFToken': getCookie('csrftoken') },
      dataType: 'json',
      success: function (response) {
        abrirModalDetalhes('componente', id, tableName, response);
      },
      error: function (error) {
        console.error(`Erro ao obter detalhes do componente (${tableName}):`, error);
      }
    });
  }

  function abrirModalDetalhesVenda(id, tableName) {
    $.ajax({
      url: `/${tableName}/${id}/`,
      method: 'POST',
      headers: { 'X-CSRFToken': getCookie('csrftoken') },
      dataType: 'json',
      success: function (response) {
        abrirModalDetalhes('venda', id, tableName, response);
      },
      error: function (error) {
        console.error(`Erro ao obter detalhes da venda (${tableName}):`, error);
      }
    });
  }

  function abrirModalDetalhesCompra(id, tableName) {
    $.ajax({
      url: `/${tableName}/${id}/`,
      method: 'POST',
      headers: { 'X-CSRFToken': getCookie('csrftoken') },
      dataType: 'json',
      success: function (response) {
        abrirModalDetalhes('compra', id, tableName, response);
      },
      error: function (error) {
        console.error(`Erro ao obter detalhes da compra (${tableName}):`, error);
      }
    });
  }

  function abrirModalDetalhesEquipamento(id, tableName) {
    $.ajax({
      url: `/${tableName}/${id}/`,
      method: 'POST',
      headers: { 'X-CSRFToken': getCookie('csrftoken') },
      dataType: 'json',
      success: function (response) {
        abrirModalDetalhes('equipamento', id, tableName, response);
      },
      error: function (error) {
        console.error(`Erro ao obter detalhes do equipamento (${tableName}):`, error);
      }
    });
  }

  function abrirModalDetalhesProducao(id, tableName) {
    $.ajax({
      url: `/${tableName}/${id}/`,
      method: 'POST',
      headers: { 'X-CSRFToken': getCookie('csrftoken') },
      dataType: 'json',
      success: function (response) {
        abrirModalDetalhes('producao', id, tableName, response);
      },
      error: function (error) {
        console.error(`Erro ao obter detalhes da produção (${tableName}):`, error);
      }
    });
  }

  function abrirModalDetalhesUtilizador(id, tableName) {
    $.ajax({
      url: `/${tableName}/${id}/`,
      method: 'POST',
      headers: { 'X-CSRFToken': getCookie('csrftoken') },
      dataType: 'json',
      success: function (response) {
        abrirModalDetalhes('utilizador', id, tableName, response);
      },
      error: function (error) {
        console.error(`Erro ao obter detalhes do Utilizador (${tableName}):`, error);
      }
    });
  }
</script>

<!-- jQuery (required for DataTables plugin) -->
<script src="{% static 'assets/js/lib/jquery.min.js'%}"></script>

<!-- Page JS Plugins -->
<script src="{% static 'assets/js/plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons-bs5/js/buttons.bootstrap5.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons-jszip/jszip.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons-pdfmake/pdfmake.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons-pdfmake/vfs_fonts.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons/buttons.print.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons/buttons.html5.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/sweetalert2/sweetalert2.js'%}"></script>
<script src="{% static 'assets/js/plugins/sweetalert2/sweetalert2.css'%}"></script>
<script src="{% static 'assets/js/plugins/sweetalert2/sweetalert2.all.js'%}"></script>

<script src="{% static 'assets/js/pages/be_tables_datatables.min.js'%}"></script>

<script>
  // Função para aplicar o filtro com base no campo especificado (estado ou tipo)
  function applyFilter(fieldName, fieldValue) {
    // Encontre a posição da coluna específica
    var columnIndex = -1;
    document.querySelectorAll('.js-dataTable-full thead th').forEach(function (th, index) {
      if (th.textContent.trim().toLowerCase() === fieldName) {
        columnIndex = index;
      }
    });

    if (columnIndex === -1) {
      console.error('Coluna "' + fieldName + '" não encontrada na tabela.');
      return;
    }

    // Array para armazenar os índices das linhas que correspondem ao valor filtrado
    var filteredRows = [];

    // Itera sobre todas as linhas da tabela para aplicar o filtro
    document.querySelectorAll('.js-dataTable-full tbody tr').forEach(function (row, rowIndex) {
      // Obtém o valor da célula na posição da coluna específica
      var cellValue = row.querySelectorAll('td')[columnIndex].textContent.trim().toLowerCase();
      var showRow = fieldValue === 'todos' || cellValue === fieldValue;

      // Armazena o índice da linha se corresponder ao filtro
      if (showRow) {
        filteredRows.push(rowIndex);
      }

      // Mostra ou oculta a linha com base no valor filtrado
      row.style.display = showRow ? '' : 'none';
    });

    // Atualiza a DataTable para garantir consistência
    var dataTable = $('.js-dataTable-full').DataTable();
    dataTable.rows().deselect();
    dataTable.rows(filteredRows).select();
  }

  // Adicione um listener de evento para os links no dropdown (estado)
  document.querySelectorAll('.filter-option-state').forEach(function (link) {
    link.addEventListener('click', function () {
      var state = link.getAttribute('data-state');
      applyFilter('estado', state);
    });
  });

  // Adicione um listener de evento para os links no dropdown (tipo)
  document.querySelectorAll('.filter-option-tipo').forEach(function (link) {
    link.addEventListener('click', function () {
      var tipo = link.getAttribute('data-tipo');
      applyFilter('tipo', tipo);
    });
  });

  function exportEncomendaEspecifica(idEncomenda) {
    var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
    requestData = {
      'tipo': 2,
      'id_encomenda': idEncomenda,
      'csrfmiddlewaretoken': csrfToken
    };
    $.ajax({
      type: 'POST',
      url: '{% url "imprimir_export_encomendas" %}',
      data: requestData,
      success: function (response) {

        $('#downloadLink').attr('data-json', JSON.stringify(response.json_data));
        var jsonValue = $('#downloadLink').data('json');
        var blob = new Blob([jsonValue], { type: 'application/json' });
        var url = URL.createObjectURL(blob);
        var a = document.createElement('a');
        a.href = url;
        a.download = 'export_encomendas.json';
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
        URL.revokeObjectURL(url);

        Swal.fire({
          icon: 'success',
          title: 'Sucesso',
          text: 'Encomendas exportadas com sucesso!',
        });
      },
      error: function (error) {
        Swal.fire({
          icon: 'error',
          title: 'Erro',
          text: 'Erro a exportar!',
        });
      }
    });

  }
</script>

{% endblock %}