{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="robots" content="noindex, nofollow">

  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'assets/media/favicons/favicon.png'%}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/media/favicons/favicon-192x192.png'%}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/media/favicons/apple-touch-icon-180x180.png'%}">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" id="css-main" href="{% static 'assets/css/dashmix.min.css'%}">
  {% block links %}{% endblock %}
</head>

<body>
  <div id="page-container"
    class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
    <!-- Side Overlay-->
    
    <nav id="sidebar" aria-label="Main Navigation">
      <!-- Side Header -->
      <div class="bg-header-dark">
        <div class="content-header bg-white-5">
          <!-- Logo -->
          <a class="fw-semibold text-white tracking-wide" href="/">
            <span class="smini-visible">
              B<span class="opacity-75">D</span>
            </span>
            <span class="smini-hidden">
              BD<span class="opacity-75">Tech</span>
            </span>
          </a>
          <div>
            <button type="button" class="btn btn-sm btn-alt-secondary" data-toggle="class-toggle"
              data-target="#sidebar-style-toggler" data-class="fa-toggle-off fa-toggle-on"
              onclick="Dashmix.layout('sidebar_style_toggle');Dashmix.layout('header_style_toggle');">
              <i class="fa fa-toggle-off" id="sidebar-style-toggler"></i>
            </button>
            <button type="button" class="btn btn-sm btn-alt-secondary" data-toggle="class-toggle"
              data-target="#dark-mode-toggler" data-class="far fa" onclick="Dashmix.layout('dark_mode_toggle');">
              <i class="far fa-moon" id="dark-mode-toggler"></i>
            </button>
            <button type="button" class="btn btn-sm btn-alt-secondary d-lg-none" data-toggle="layout"
              data-action="sidebar_close">
              <i class="fa fa-times-circle"></i>
            </button>
            <!-- END Close Sidebar -->
          </div>
          <!-- END Options -->
        </div>
      </div>
      <!-- END Side Header -->

      <!-- Sidebar Scrolling -->
      <div class="js-sidebar-scroll">
        <div class="content-side">
          <ul class="nav-main">
            {% if request.session.id_perfil != 1 %}
            <li class="nav-main-item">
              <a class="nav-main-link" href="/dashboard">
                <i class="nav-main-link-icon fa fa-chart-line"></i>
                <span class="nav-main-link-name">Dashboard</span>
              </a>
            </li>
            {% endif %}
            <li class="nav-main-item">
              <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
                <i class="nav-main-link-icon fa fa-user"></i>
                <span class="nav-main-link-name">Utilizadores</span>
              </a>
              <ul class="nav-main-submenu">

                <li class="nav-main-item">
                  <a class="nav-main-link" href="/utilizador/list">
                    <span class="nav-main-link-name">Listar</span>
                  </a>
                </li>
                <li class="nav-main-item"> 
                  <a class="nav-main-link" href="/utilizador/create">
                    <span class="nav-main-link-name">Criar</span>
                  </a>
                </li>

              </ul>
            </li>

            <li class="nav-main-item">
              <a class="nav-main-link" href="/fornecedor/list">
                <i class="nav-main-link-icon fa fa-suitcase"></i>
                <span class="nav-main-link-name">Fornecedores</span>
              </a>
            </li>
            <li class="nav-main-item">
              <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
                <i class="nav-main-link-icon fa fa-boxes"></i>
                <span class="nav-main-link-name">Componentes</span>
              </a>
              <ul class="nav-main-submenu">
                <li class="nav-main-item">
                  <a class="nav-main-link" href="/componente/list">
                    <span class="nav-main-link-name">Listar</span>
                  </a>
                </li>
                <li class="nav-main-item"> 
                  <a class="nav-main-link" href="/componente/create">
                    <span class="nav-main-link-name">Criar</span>
                  </a>
                </li>
                <li class="nav-main-item"> 
                  <a class="nav-main-link" href="/order/create">
                    <span class="nav-main-link-name">Comprar Componentes</span>
                  </a>
                </li>
                <li class="nav-main-item"> 
                  <a class="nav-main-link" href="/componente/import/">
                    <span class="nav-main-link-name">Importar Componentes</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-main-item">
              <a class="nav-main-link" href="/venda/list">
                <i class="nav-main-link-icon fa fa-euro-sign"></i>
                <span class="nav-main-link-name">Vendas</span>
              </a>
            </li>
            <li class="nav-main-item">
              <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
                <i class="nav-main-link-icon fa fa-laptop"></i>
                <span class="nav-main-link-name">Encomenda a fornecedor</span>
              </a>
              <ul class="nav-main-submenu">
                <li class="nav-main-item">
                  <a class="nav-main-link" href="/compra/list">
                    <span class="nav-main-link-name">Encomendas em espera</span>
                  </a>
                </li>
                <li class="nav-main-item"> 
                  <a class="nav-main-link" href="/compra/list/fr">
                    <span class="nav-main-link-name">Encomendas recebidas</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-main-item">
              <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
                <i class="nav-main-link-icon fa fa-laptop"></i>
                <span class="nav-main-link-name">Equipamentos</span>
              </a>
              <ul class="nav-main-submenu">
                <li class="nav-main-item">
                  <a class="nav-main-link" href="/equipamento/list">
                    <span class="nav-main-link-name">Listar</span>
                  </a>
                </li>
                <li class="nav-main-item"> 
                  <a class="nav-main-link" href="/equipamento/create">
                    <span class="nav-main-link-name">Criar Equipamento</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-main-item">
              <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
                <i class="nav-main-link-icon fa fa-hammer"></i>
                <span class="nav-main-link-name">Produção</span>
              </a>
              <ul class="nav-main-submenu">
                <li class="nav-main-item">
                  <a class="nav-main-link" href="/producao/list">
                    <span class="nav-main-link-name">Listar</span>
                  </a>
                </li>
                <li class="nav-main-item"> 
                  <a class="nav-main-link" href="/producao/create/">
                    <span class="nav-main-link-name">Criar Produção Equipamento existente</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header id="page-header">
      <div class="content-header">
        <div class="space-x-1">
          <button type="button" class="btn btn-alt-secondary" data-toggle="layout" data-action="sidebar_toggle">
            <i class="fa fa-fw fa-bars"></i>
          </button>
          <button type="button" class="btn btn-alt-secondary" data-toggle="layout" data-action="header_search_on">
            <i class="fa fa-fw opacity-50 fa-search"></i> <span class="ms-1 d-none d-sm-inline-block">Search</span>
          </button>
        </div>
        <div class="space-x-1">
          <div class="dropdown d-inline-block">
            {% if request.session.id_utilizador %}
            <!-- Display user's name if authenticated -->
            <button type="button" class="btn btn-alt-secondary" id="page-header-user-dropdown" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-fw fa-user d-sm-none"></i>
              <span class="d-none d-sm-inline-block">{{ request.session.nome }}</span>
              <i class="fa fa-fw fa-angle-down opacity-50 ms-1 d-none d-sm-inline-block"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end p-0" aria-labelledby="page-header-user-dropdown">
              <div class="bg-dark rounded-top fw-semibold text-white text-center p-3">
                Opções
              </div>
              <div class="p-2">
                <a class="dropdown-item" href="/logout">
                  <i class="far fa-fw fa-arrow-alt-circle-left me-1"></i> Sign Out
                </a>
              </div>
            </div>
            {% else %}
            <button type="button" class="btn btn-alt-secondary" id="page-header-user-dropdown" data-bs-toggle="modal"
              data-bs-target="#loginModal">
              <i class="fa fa-fw fa-user d-sm-none"></i>
              <span class="d-none d-sm-inline-block">Iniciar Sessão</span>
            </button>
            {% endif %}
          </div>
        </div>
      </div>
      <div id="page-header-search" class="overlay-header bg-header-dark">
        <div class="bg-white-10">
          <div class="content-header">
            <form class="w-100" action="be_pages_generic_search.html" method="POST">
              <div class="input-group">
                <button type="button" class="btn btn-alt-primary" data-toggle="layout" data-action="header_search_off">
                  <i class="fa fa-fw fa-times-circle"></i>
                </button>
                <input type="text" class="form-control border-0" placeholder="Search or hit ESC.."
                  id="page-header-search-input" name="page-header-search-input">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div id="page-header-loader" class="overlay-header bg-header-dark">
        <div class="bg-white-10">
          <div class="content-header">
            <div class="w-100 text-center">
              <i class="fa fa-fw fa-sun fa-spin text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- END Header -->
    <!--start login-->

    <main id="main-container">
      <div class="content">

        {% block content %}
        {% endblock %}



      </div>
    </main>
    <footer id="page-footer" class="bg-body-light">
      <div class="content py-0">
        <div class="row fs-sm">
          <div class="col-sm-6 order-sm-2 mb-1 mb-sm-0 text-center text-sm-end">
            BDTech COPYRIGHT ©
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="{% static 'assets/js/dashmix.app.min.js'%}"></script>
  <script src="{% static 'assets/js/plugins/chart.js/chart.min.js'%}"></script>
  <script src="{% static 'assets/js/pages/be_pages_dashboard.min.js'%}"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>