{% extends "masterPage.html" %}

{% block title %}
Nova encomenda
{% endblock %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'assets/js/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/plugins/datatables-buttons-bs5/css/buttons.bootstrap5.min.css'%}">

{% endblock %}

{% block content %}
<div class="content">
    <!-- Elements -->
    <form id="encomendaForm" class="js-validation" method="POST" action="{% url 'save_encomenda' %}">
        {% csrf_token %}
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <h3 class="block-title">Nova encomenda</h3>
                <div class="block-options">
                    <input type="hidden" id="id_fornecedor" name="id_fornecedor" value="">
                    <button type="button" class="btn btn-sm btn-success" onclick="saveEncomenda()">
                        <i class="fa fa-fw fa-check"></i> Guardar
                    </button>
                </div>
            </div>
            <div class="block-content block-content-full">
                <div class="row items-push">
                    <div class="col-lg-4">
                        <p class="text-muted">
                            Escolhe o fornecedor ao qual queres comprar os componentes
                        </p>
                    </div>
                    <div class="col-lg-8 col-xl-5">
                        <div class="mb-4">
                            <label class="form-label" for="val-select2">Fornecedor<span
                                    class="text-danger">*</span></label>
                            <select class="js-select2 form-select" id="val-select2" name="val-select2"
                                style="width: 100%;" data-placeholder="Escolha um fornecedor...">
                                {% for fornecedor in fornecedores %}
                                <option value="{{ fornecedor.0 }}">{{ fornecedor.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <h3 class="block-title">Componentes</small></h3>
            </div>
            <div class="block-content block-content-full">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                    <thead>
                        <tr>
                            <th class="d-none d-sm-table-cell">ID</th>
                            <th class="d-none d-sm-table-cell">Imagem</th>
                            <th class="d-none d-sm-table-cell">Descrição</th>
                            <th class="d-none d-sm-table-cell">Preço unid.</th>
                            <th class="d-none d-sm-table-cell">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for componente in componentes %}
                        <tr>
                            <td>{{ componente.1 }}</td>
                            <td><img src="{{ componente.0 }}" alt="Image"
                                    style="max-width: 47px; max-height: 47px;"></td>
                            <td>{{ componente.2 }}</td>
                            <td>{{ componente.4 }}</td>
                            <td class="text-center">
                                <div class="input-group">
                                    <input type="number" name="quantidade" class="form-control form-control-sm"
                                        value="1" min="1">
                                    <button type="button" class="btn btn-success ms-2"
                                        onclick="addQuantity()">Add</button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="block-header block-header-default mt-3">
                <h3 class="block-title">Cesto</small></h3>
                <span class="mb-3 m-3 float-end text-danger">Total Encomenda: </span>
            </div>

            <div class="block-content block-content-full">
                <table id="cestoTable" class="table table-sm table-vcenter">
                    <thead>
                        <tr>
                            <th class="d-none d-sm-table-cell">ID</th>
                            <th class="d-none d-sm-table-cell">Descrição</th>
                            <th class="d-none d-sm-table-cell">Quantidade</th>
                            <th class="d-none d-sm-table-cell">Preço unid.</th>
                            <th class="d-none d-sm-table-cell">Total</th>
                            <th class="d-none d-sm-table-cell">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}

<script>
    function addQuantity() {
        var row = $(event.target).closest('tr');

        var id_componente = row.find('td:first').text();
        var descricao = row.find('td:nth-child(3)').text();
        var quantidade = row.find('input[name="quantidade"]').val();
        var precoStr = row.find('td:nth-child(4)').text();
        var preco = parseFloat(precoStr.replace(/[^\d.]/g, ''));

        if (isNaN(preco)) {
            preco = parseFloat(row.find('input[name="quantidade"]').data('preco').replace(/[^\d.]/g, ''));
        }

        if (!isNaN(preco)) {
            var total = parseFloat(quantidade) * preco;

            var existingRow = $('#cestoTable tbody').find('tr[data-id="' + id_componente + '"]');

            if (existingRow.length > 0) {
                existingRow.find('td:nth-child(3)').text(parseFloat(existingRow.find('td:nth-child(3)').text()) + parseFloat(quantidade));
                existingRow.find('td:nth-child(4)').text(preco);
                existingRow.find('td:nth-child(5)').text(parseFloat(existingRow.find('td:nth-child(5)').text()) + total);
            } else {
                var newRow = '<tr data-id="' + id_componente + '">' +
                    '<td>' + id_componente + '</td>' +
                    '<td>' + descricao + '</td>' +
                    '<td>' + quantidade + '</td>' +
                    '<td>' + preco + '</td>' +
                    '<td>' + total.toFixed(2) + '</td>' +
                    '<td class="text-center">' +
                    '<div class="input-group">' +
                    '<input type="number" name="quantidadeRemover" class="form-control form-control-sm" value="1" min="1">' +
                    '<button type="button" class="btn btn-danger btn-sm" onclick="removeQuantity(this)">Remover</button></td></div></td>' +
                    '</tr>';

                $('#cestoTable tbody').append(newRow);

            }
            recalculateOrderTotal();
        } else {
            console.error('Preço não é um número:', preco);
        }
    }

    function removeQuantity(button) {
        var row = $(button).closest('tr');

        var id_componente = row.find('td:first').text();
        var quantidadeRemover = parseFloat(row.find('input[name="quantidadeRemover"]').val());
        var precoStr = row.find('td:nth-child(4)').text();
        var preco = parseFloat(precoStr.replace(/[^\d.]/g, ''));
        var total = parseFloat(row.find('td:nth-child(5)').text());

        if (isNaN(preco)) {
            preco = parseFloat(row.find('input[name="quantidade"]').data('preco').replace(/[^\d.]/g, ''));
        }

        if (!isNaN(preco)) {
            var totalRemover = quantidadeRemover * preco;

            row.find('td:nth-child(3)').text(parseFloat(row.find('td:nth-child(3)').text()) - quantidadeRemover);
            row.find('td:nth-child(5)').text(parseFloat(row.find('td:nth-child(5)').text()) - totalRemover);

            if (parseFloat(row.find('td:nth-child(3)').text()) <= 0) {
                row.remove();
            }
            recalculateOrderTotal();
        } else {
            console.error('Preço não é um número:', preco);
        }
    }

    function recalculateOrderTotal() {
        var orderTotal = 0;

        $('#cestoTable tbody tr').each(function () {
            var total = parseFloat($(this).find('td:nth-child(5)').text());
            if (!isNaN(total)) {
                orderTotal += total;
            }
        });

        $('.block-header-default span.mb-3.m-3.float-end').text('Total Encomenda: ' + orderTotal.toFixed(2));
    }

    function saveEncomenda() {
        var idFornecedor = $('#val-select2').val();
        $('#id_fornecedor').val(idFornecedor);

        var totalEncomenda = parseFloat($('.block-header-default span.mb-3.m-3.float-end').text().replace(/[^\d.]/g, ''));
        var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

        // Check if there are no rows in the table
        if (!isNaN(totalEncomenda) && totalEncomenda !== 0) {
            // Create an array to store component data
            var componentes = [];

            // Iterate over rows in the cesto table
            $('#cestoTable tbody tr').each(function () {
                var idComponente = $(this).find('td:nth-child(1)').text();
                var quantidade = $(this).find('td:nth-child(3)').text();
                var preco = $(this).find('td:nth-child(4)').text();
                var total = $(this).find('td:nth-child(5)').text();

                // Add component data to the array
                componentes.push({
                    'id_componente': idComponente,
                    'quantidade': quantidade,
                    'preco_unit': preco,
                    'preco_total': total
                });
            });

            // Add componentes data to the AJAX request
            var requestData = {
                'id_fornecedor': idFornecedor,
                'total_encomenda': totalEncomenda,
                'componentes': JSON.stringify(componentes),
                'csrfmiddlewaretoken': csrfToken
            };

            // Send the AJAX request
            $.ajax({
                type: 'POST',
                url: '{% url "save_encomenda" %}',
                data: requestData,
                success: function (response) {
                    console.log(response);
                    window.location.href = "/compra/list";
                },
                error: function (error) {
                    console.error(error);
                }
            });
        } else {
            alert('Não contêm componentes no cesto ou total encomenda é zero!');
        }
    }
</script>
<script>
    function confirmDelete(tableName, recordId) {
        if (confirm('Tem certeza de que deseja excluir este registro?')) {
            window.location.href = `/delete_record/${tableName}/${recordId}/`;
        }
    }
</script>

<!-- jQuery (required for DataTables plugin) -->
<script src="{% static 'assets/js/lib/jquery.min.js'%}"></script>

<!-- Page JS Plugins -->
<script src="{% static 'assets/js/plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons-bs5/js/buttons.bootstrap5.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons-jszip/jszip.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons-pdfmake/pdfmake.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons-pdfmake/vfs_fonts.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons/buttons.print.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/datatables-buttons/buttons.html5.min.js'%}"></script>

<script src="{% static 'assets/js/pages/be_tables_datatables.min.js'%}"></script>


{% endblock %}