{% extends "masterPageFront.html" %}

{% block title %}
Página Inicial
{% endblock %}
{% load static %}
{% block links %}

<link rel="stylesheet" href="{% static 'assets/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/plugins/ion-rangeslider/css/ion.rangeSlider.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/plugins/slick-carousel/slick.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/plugins/slick-carousel/slick-theme.css'%}">
{% endblock %}

{% block content %}

<div class="row g-0 flex-md-grow-1 mt-7">
    <div class="col-lg-3 col-xl-3">
        <div class="content">
            <!-- Toggle Side Content -->
            <div class="row g-sm d-lg-none push">
                <div class="col-6">
                    <!-- Toggle Sidebar
                    Layout API, functionality initialized in Template._uiApiLayout() -->
                    <button type="button" class="btn w-100 btn-primary" data-toggle="layout"
                            data-action="sidebar_toggle">
                        <i class="fa fa-bars opacity-50 me-1"></i> Menu
                    </button>
                </div>
                <div class="col-6">
                    <!-- Class Toggle, functionality initialized in Helpers.dmToggleClass() -->
                    <button type="button" class="btn w-100 btn-alt-primary" data-toggle="class-toggle"
                            data-target="#side-content" data-class="d-none">
                        <i class="fa fa-flask me-1"></i> Filtros
                    </button>
                </div>
            </div>
            
            <div id="side-content" class="d-none d-lg-block push">
                <!-- MARCA -->
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            <!--   <i class="fa fa-fw fa-copyright opacity-25 me-1"></i>--> Marca
                        </h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-toggle="block-option"
                                    data-action="content_toggle"></button>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="row g-sm items-push mb-4">
                            <div class="col-12">
                                <input type="text" id="marca-search" class="form-control" placeholder="Pesquisar marca...">
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    {% for marca_item in marcas %}
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="marca_checkbox_{{ marca_item.id_atributo }}" name="marca_checkbox" value="{{ marca_item.valor }}">
                                        <label class="form-check-label" for="marca_checkbox_{{ marca_item.id_atributo }}">{{ marca_item.valor }}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END MARCA

                INTERVALO DE PRECO -->
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            <!--  <i class="fa fa-fw fa-euro-sign opacity-25 me-1"></i>--> Preços
                        </h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-toggle="block-option"
                                    data-action="content_toggle"></button>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="mb-4">
                            <input type="text" class="js-rangeslider" id="db-travel-price" name="db-travel-price"
                                   data-type="double" data-min="0" data-max="{{maxpricefiltro}}" data-from="0" data-to="{{maxpricefiltro}}"
                                   data-prefix="€">
                        </div>
                    </div>
                </div>
                <!-- END INTERVALO DE PRECO

                RAM -->
                <div class="block block-rounded ">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            <!-- <i class="fa fa-fw fa-plane opacity-25 me-1"></i>--> Memória RAM
                        </h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-toggle="block-option"
                                    data-action="content_toggle"></button>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="row g-sm items-push mb-4">
                            <div class="col-12">
                                {% for ram_item in ram %}
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="ram_checkbox_{{ ram_item.id_atributo }}" name="ram_checkbox" value="{{ ram_item.valor }}">
                                    <label class="form-check-label" for="ram_checkbox_{{ ram_item.id_atributo }}">{{ ram_item.valor }}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END RAM

                ARMAZENAMENTO -->
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            <!-- <i class="fa fa-fw fa-box-open opacity-25 me-1"></i>--> Capacidade de Armazenamento
                        </h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-toggle="block-option"
                                    data-action="content_toggle"></button>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="row g-sm items-push mb-4">
                            <div class="col-12">
                                {% for rom_item in rom %}
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="rom_checkbox_{{ rom_item.id_atributo }}" name="rom_checkbox" value="{{ rom_item.valor }}">
                                    <label class="form-check-label" for="rom_checkbox_{{ rom_item.id_atributo }}">{{ rom_item.valor }}</label>
                                </div>
                                {% endfor %}
                            </div>

                        </div>

                    </div>

                </div>
                <!-- END ARMAZENAMENTO -->
                <!-- Adicione o botão aqui -->
                <div class="col-12 mt-4">
                    <button type="button" class="btn btn-primary">Aplicar Filtros</button>
                </div>
                <div class="col-12 mt-4">
                    <label id="resultadoFiltrosLabel"></label>
                </div>
            </div>
            <!-- END Side Content -->
        </div>
    </div>
    <div class="col-lg-9 col-xl-8 mx-auto">
        <!-- Ajuste a classe col-xl-8 conforme necessário -->
        <!-- Main Content -->
        <div class="bg-body-extra-light mt-4 mb-4 p-4">
            <div class="container">
                <div class="row">
                    <h1 class="mt-4 mb-4">{{nome}}</h1>
                    <div id="equipamentos-container" class="row">
                        {% for equipamento in equipamentos %}
                        <div class="col-md-3 mb-4">
                            <div class="card">
                                <img src="{{ equipamento.imagem }}" class="card-img-top" alt="{{ equipamento.nome }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ equipamento.nome }}</h5>
                                    <p class="card-text">Preço: € {{ equipamento.preco|slice:"1:" }}</p>
                                    <a href="{% url 'detalhes_equipamento_list' equipamento.id_equipamento %}" class="btn btn-primary">Ver Detalhes</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END Main Content -->
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'assets/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/ion-rangeslider/js/ion.rangeSlider.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/slick-carousel/slick.min.js'%}"></script>

<script>
    
    {% for equipamento in equipamentos %}
        var tipo = "{{ equipamento.tipo_equipamento }}";
    {% endfor %}

    var tipo_equi;
    if (tipo === 'Portatil') {
        tipo_equi = 1;
    } else {
        tipo_equi = 2;
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $("#db-travel-price").ionRangeSlider({
        onFinish: function (data) {
            var filtrosSelecionados = {
                precos: {
                    min: 0,
                    max: 0
                }
            };
                // Obter o intervalo de preços
            filtrosSelecionados.precos.min = $("#db-travel-price").data("from");
            filtrosSelecionados.precos.max = $("#db-travel-price").data("to");

            $.ajax({
                type: "POST",
                url: "{% url 'aplicarpreco' %}",
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({
                    precos: filtrosSelecionados.precos,
                    tipo: tipo_equi
                }),
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                },
                success: function (response) {
                    if (response.resultados.length > 0) {
                        // Limpar a exibição atual de equipamentos
                        $('#equipamentos-container').empty();

                        // Adicionar os novos equipamentos à exibição
                        response.resultados.forEach(function (equipamento) {
                            var detalhesUrl = '{% url "detalhes_equipamento_list" 1 %}'.replace('1', equipamento.id_equipamento);
                            var equipamentoHtml = `
                        <div class="col-md-3 mb-4">
                            <div class="card">
                                <img src="${equipamento.imagem}" class="card-img-top" alt="${equipamento.nome}">
                                <div class="card-body">
                                    <h5 class="card-title">${equipamento.nome}</h5>
                                    <p class="card-text">Preço: € ${equipamento.preco.slice(1)}</p>
                                  <a href="${detalhesUrl}" class="btn btn-primary">Ver Detalhes</a>

                                      </div>
                            </div>
                        </div>`;
                            $('#equipamentos-container').append(equipamentoHtml);
                        });
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Atenção',
                            text: 'Nenhum equipamento encontrado com os filtros selecionados.',
                        });
                    }
                },
                error: function (error) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Atenção',
                        text: 'Erro ao aplicar filtros:\n' + error.responseText,
                    });
                }
            });

        }
    });

    $(document).ready(function () {
        $('#side-content').on('click', '.btn-primary', function () {
            var filtrosSelecionados = {
                marcas: [],
                precos: {
                    min: 0,
                    max: 0
                },
                ram: [],
                rom: []
            };

            //obter marcas selecionadas
            $('input[name="marca_checkbox"]:checked').each(function () {
                filtrosSelecionados.marcas.push({
                    id_atributo: $(this).attr('id').split('_')[2],
                    valor: $(this).val()
                });
            });

            // Obter o intervalo de preços
            filtrosSelecionados.precos.min = $("#db-travel-price").data("from");
            filtrosSelecionados.precos.max = $("#db-travel-price").data("to");

            //obter ram selecionadas
            $('input[name="ram_checkbox"]:checked').each(function () {
                filtrosSelecionados.ram.push({
                    id_atributo: $(this).attr('id').split('_')[2],
                    valor: $(this).val()
                });
            });

            //obter rom selecionados
            $('input[name="rom_checkbox"]:checked').each(function () {
                filtrosSelecionados.rom.push({
                    id_atributo: $(this).attr('id').split('_')[2],
                    valor: $(this).val()
                });
            });
         //   alert("filtros selecionados " + filtrosSelecionados);
            $.ajax({
                type: "POST",
                url: "{% url 'aplicarfiltros' %}",
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({
                    marcas: filtrosSelecionados.marcas,
                    precos: filtrosSelecionados.precos,
                    ram: filtrosSelecionados.ram,
                    rom: filtrosSelecionados.rom,
                    tipo: tipo_equi
                }),
                beforeSend: function (xhr, settings) {

                    xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                },
                success: function (response) {
                    if (response.resultados.length > 0) {
                        // Limpar a exibição atual de equipamentos
                        $('#equipamentos-container').empty();

                        // Adicionar os novos equipamentos à exibição
                        response.resultados.forEach(function (equipamento) {
                            var detalhesUrl = '{% url "detalhes_equipamento_list" 1 %}'.replace('1', equipamento.id_equipamento);
                            var equipamentoHtml = `
                            <div class="col-md-3 mb-4">
                                <div class="card">
                                    <img src="${equipamento.imagem}" class="card-img-top" alt="${equipamento.nome}">
                                    <div class="card-body">
                                        <h5 class="card-title">${equipamento.nome}</h5>
                                        <p class="card-text">Preço: € ${equipamento.preco.slice(1)}</p>
                                      <a href="${detalhesUrl}" class="btn btn-primary">Ver Detalhes</a>

                                          </div>
                                </div>
                            </div>`;
                            $('#equipamentos-container').append(equipamentoHtml);
                        });
                    } else {
                        // Se não houver resultados, exibir uma mensagem ou realizar outra ação apropriada
                        Swal.fire({
                            icon: 'error',
                            title: 'Erro',
                            text: 'Nenhum equipamento encontrado com os filtros selecionados.',
                        });
                    }
                },
                error: function (error) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Atenção',
                        text: 'Erro ao aplicar filtros:\n' + error.responseText,
                    });
                }
            });
        });
    });

    var marcasOriginais = $('.form-check');


    // Função para lidar com a pesquisa dinâmica
    $('#marca-search').on('input', function () {
        var searchTerm = $(this).val().toLowerCase();

        // Oculta todas as marcas
        marcasOriginais.hide();

        // Mostra apenas as marcas que correspondem à pesquisa
        marcasOriginais.filter(function () {
            var marca = $(this).text().toLowerCase();
            return marca.startsWith(searchTerm) || marca.includes(' ' + searchTerm);
        }).show();
    });

</script>

<script>Dashmix.helpersOnLoad(['jq-datepicker', 'jq-rangeslider', 'jq-slick']);</script>
{% endblock %}