{% extends "masterPageFront.html" %}

{% block title %}
Página Inicial
{% endblock %}
{% load static %}
{% block links %}

<link rel="stylesheet" href="{% static 'assets/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/plugins/ion-rangeslider/css/ion.rangeSlider.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/plugins/slick-carousel/slick.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/plugins/slick-carousel/slick-theme.css'%}">
{% endblock %}

{% block content %}

<div class="row g-0 flex-md-grow-1 mt-7">
    <div class="col-lg-3 col-xl-3">
        <div class="content">
            <!-- Toggle Side Content -->
            <div class="row g-sm d-lg-none push">
                <div class="col-6">
                    <!-- Toggle Sidebar
                    Layout API, functionality initialized in Template._uiApiLayout() -->
                    <button type="button" class="btn w-100 btn-primary" data-toggle="layout"
                            data-action="sidebar_toggle">
                        <i class="fa fa-bars opacity-50 me-1"></i> Menu
                    </button>
                </div>
                <div class="col-6">
                    <!-- Class Toggle, functionality initialized in Helpers.dmToggleClass() -->
                    <button type="button" class="btn w-100 btn-alt-primary" data-toggle="class-toggle"
                            data-target="#side-content" data-class="d-none">
                        <i class="fa fa-flask me-1"></i> Filters
                    </button>
                </div>
            </div>
            <!-- END Toggle Side Content

            Search Travel -->
            <form class="push" id="search-form" method="POST">
                <div class="mb-2">
                    <input type="text" class="form-control form-control-lg py-3 fs-base text-center"
                           id="db-travel-location" name="db-travel-location" placeholder="Pesquisa">
                </div>
            </form>

            <!-- END Search Travel

             Side Content -->
            <div id="side-content" class="d-none d-lg-block push">
                <!-- MARCA -->
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            <!--   <i class="fa fa-fw fa-copyright opacity-25 me-1"></i>--> Marca
                        </h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-toggle="block-option"
                                    data-action="content_toggle"></button>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="row g-sm items-push mb-4">
                            <div class="col-12">

                                <input type="text" id="marca-search" class="form-control" placeholder="Pesquisar marca...">

                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="db-travel-amenities-kitchen"
                                           name="db-travel-amenities-kitchen">
                                    <label class="form-check-label" for="db-travel-amenities-kitchen">ASUS</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="db-travel-amenities-kitchen"
                                           name="db-travel-amenities-kitchen">
                                    <label class="form-check-label" for="db-travel-amenities-kitchen">Kitchen</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END MARCA

                INTERVALO DE PRECO -->
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            <!--  <i class="fa fa-fw fa-euro-sign opacity-25 me-1"></i>--> Preços
                        </h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-toggle="block-option"
                                    data-action="content_toggle"></button>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="mb-4">
                            <input type="text" class="js-rangeslider" id="db-travel-price" name="db-travel-price"
                                   data-type="double" data-min="0" data-max="{{maxpricefiltro}}" data-from="0" data-to="{{maxpricefiltro}}"
                                   data-prefix="€">
                        </div>
                    </div>
                </div>
                <!-- END INTERVALO DE PRECO

                RAM -->
                <div class="block block-rounded block-mode-hidden">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            <!-- <i class="fa fa-fw fa-plane opacity-25 me-1"></i>--> Memória RAM
                        </h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-toggle="block-option"
                                    data-action="content_toggle"></button>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="row g-sm items-push mb-4">
                            <div class="col-12">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="db-travel-amenities-kitchen"
                                           name="db-travel-amenities-kitchen">
                                    <label class="form-check-label" for="db-travel-amenities-kitchen">4 GB</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END RAM

                ARMAZENAMENTO -->
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            <!-- <i class="fa fa-fw fa-box-open opacity-25 me-1"></i>--> Capacidade de Armazenamento
                        </h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-toggle="block-option"
                                    data-action="content_toggle"></button>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="row g-sm items-push mb-4">
                            <div class="col-12">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="db-travel-amenities-kitchen"
                                           name="db-travel-amenities-kitchen">
                                    <label class="form-check-label" for="db-travel-amenities-kitchen">Kitchen</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="db-travel-amenities-shampoo"
                                           name="db-travel-amenities-shampoo">
                                    <label class="form-check-label" for="db-travel-amenities-shampoo">Shampoo</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END ARMAZENAMENTO -->

            </div>
            <!-- END Side Content -->
        </div>
    </div>
    <div class="col-lg-9 col-xl-8 mx-auto">
        <!-- Ajuste a classe col-xl-8 conforme necessário -->
        <!-- Main Content -->
        <div class="bg-body-extra-light mt-4 mb-4 p-4">
            <div class="container">
                <div class="row">
                    <h1 class="mt-4 mb-4">{{nome}}</h1>
                    {% for equipamento in equipamentos %}
                    <!-- Adicione isso à seção onde você lista os equipamentos em filtro.html -->
                    <div class="col-md-3 mb-4">
                        <div class="card">
                            <img src="{{ equipamento.imagem }}" class="card-img-top" alt="{{ equipamento.nome }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ equipamento.nome }}</h5>
                                <p class="card-text">Preço: € {{ equipamento.preco|slice:"1:" }}</p>
                                <a href="{% url 'detalhes_equipamento' equipamento.id_equipamento %}"
                                   class="btn btn-primary">Ver Detalhes</a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- END Main Content -->
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'assets/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/ion-rangeslider/js/ion.rangeSlider.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/slick-carousel/slick.min.js'%}"></script>
<script>Dashmix.helpersOnLoad(['jq-datepicker', 'jq-rangeslider', 'jq-slick']);</script>
{% endblock %}