{% extends "masterPageFront.html" %}

{% block title %}
Página Inicial
{% endblock %}


{% block content %}
{% load static %}
<div class="bg-body-extra-light mt-5">
    <div class="content py-3">
        <ul class="nav nav-pills justify-content-center justify-content-md-start">
            <li class="nav-item me-3">
                <a class="nav-link" href="/tipo/1">
                    <i class="fa fa-laptop"></i> <span class="d-none d-md-inline ms-1">Portáteis</span>
                </a>
                
            </li>
            <li class="nav-item me-3">
                <a class="nav-link" href="/tipo/2">
                    <i class="fa fa-desktop"></i> <span class="d-none d-md-inline ms-1">Desktops</span>
                </a>
                
            </li>

            <li class="nav-item ms-md-auto">
                <a class="nav-link" href="/usercompras/">
                    <i class="fa fa-star text-warning fa-fw"></i> <span class="d-none d-md-inline ms-1">Minhas Compras</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- END Top Navigation -->

<!-- Search -->
<div class="content">
    <div class="text-center py-3">
        <h1 class="h3 fw-bold mb-2">Verifica as melhores ofertas</h1>
        <h2 class="h5 fw-normal text-muted">Explora a melhor loja online de tecnologia</h2>
    </div>
    <form action="{% url 'pesquisa_equipamento' %}" method="GET">
        <div class="mb-4 row">
            <div class="col-md-6">
                <input type="text" class="form-control form-control-lg py-1 text-center" id="dm-booking-destination"
                    name="dm-booking-destination" placeholder="Pesquisa">
            </div>

            <div class="col-md-2">
                <select class="form-select" id="categoria" name="categoria">
                    <option value="" disabled selected>Categoria</option>
                    <option value="1">Portáteis</option>
                    <option value="2">Desktops</option>
                </select>
            </div>

            <div class="col-md-4">
                <button type="submit" class="btn btn-primary w-100">Pesquisa</button>
            </div>
        </div>
    </form>
</div>

<!-- END Search -->

<!-- Travel Packages -->
<!-- lista_equipamentos.html -->
<div class="bg-body-extra-light">
    <div class="container">
        <div class="row">
            <h1 class="mt-4 mb-4">Destaques</h1>
            {% for equipamento in equipamentos %}
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="{{ equipamento.imagem }}" class="card-img-top" alt="{{ equipamento.nome }}">
                        <div class="card-body" style="background-color: grey; color: white; text-align: center;">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <h3 class="h5 fw-bold text-white mb-2" style="font-family: 'Arial', sans-serif;">
                                {{ equipamento.nome }}<br>
                                {{ equipamento.preco }}
                                <a href="{% url 'detalhes_equipamento' equipamento.id_equipamento %}"
                                    class="btn btn-primary">Ver Detalhes</a>
                            </h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>




<!-- END Travel Packages -->

<!-- My Bookings -->
<div class="bg-body-dark">
    <div class="content content-full">
        <div class="text-center py-3">
            <h2 class="h3 fw-bold mb-2">Top Marcas</h2>
        </div>
        <div id="marcas-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for marca in marcas %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="block block-rounded block-transparent bg-image" style="background-image: url('{{ marca.logo_url }}'); background-size: contain; background-repeat: no-repeat; background-position: center;">
                            <div class="block-content block-content-full bg-black-75">
                                <div class="d-md-flex justify-content-md-center align-items-md-center">
                                    <div class="p-3 p-md-4 text-center">
                                        <img src="{{ marca.logo_url }}" alt="{{ marca.nome }}" class="d-block mx-auto img-fluid" style="max-width: 100px; max-height: 100px;">
                                        <h3 class="h4 fw-bold text-white mb-1">{{ marca.nome }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#marcas-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#marcas-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>



<!-- Page JS Plugins -->


{% endblock %}

{% block scripts %}

<!--scripts-->
<!-- <script src="{% static '/assets/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'%}"></script>
<script>Dashmix.helpersOnLoad(['jq-datepicker']);</script>  -->
{% endblock %}